## Assignment-01
##### Name: Khalid Mahmud
##### ID: 190321022
##### Course Name: Industrial and Operational Management
##### Course Code: MGT-201
##### Program: B.Sc. in CSE (Regular)
##### Section: A
##### Semester: 11th
##### Submission Date: 24-05-2023

In [1]:
import pandas as pd
import numpy as np
import csv
#import matplotlib.pyplot as plt
#import seaborn as sns

import warnings
warnings.filterwarnings('always')
warnings.filterwarnings('ignore')

In [2]:
df=[]
f = r'./data/data.csv'

with open(f,encoding='utf-8-sig') as csvfile:
    reader = csv.reader(csvfile)
    for row in reader:
        df.append(row)
col = [x[0] for x in df]

## Previous Data

In [3]:
df

[['Month', 'Demand', 'Forecast'],
 ['May', '100', '100'],
 ['June', '80', ''],
 ['July', '110', ''],
 ['August', '115', ''],
 ['September', '105', ''],
 ['October', '110', ''],
 ['November', '125', ''],
 ['December', '120', '']]

In [4]:
j = 1
for i in range(1, len(df)):
    if(df[j][2] == ""):
        #print("Not found")
        df[j][2] = int(df[j-1][2]) + (0.1 * (int(df[j-1][1]) - int(df[j-1][2])))
    else:
        print(df[j][2])
    j = j + 1

100

## Data after applying Forecast Algo.:

In [5]:
df

[['Month', 'Demand', 'Forecast'],
 ['May', '100', '100'],
 ['June', '80', 100.0],
 ['July', '110', 98.0],
 ['August', '115', 99.2],
 ['September', '105', 100.6],
 ['October', '110', 100.5],
 ['November', '125', 101.0],
 ['December', '120', 103.4]]

## Add this on new DF:

In [6]:
arr = np.asarray(df)
pd.DataFrame(arr).to_csv('forecast_data.csv')

## Show all updated Data

In [7]:
data = pd.read_csv('forecast_data.csv')
data

   Unnamed: 0          0       1         2
0           0      Month  Demand  Forecast
1           1        May     100       100
2           2       June      80     100.0
3           3       July     110      98.0
4           4     August     115      99.2
5           5  September     105     100.6
6           6    October     110     100.5
7           7   November     125     101.0
8           8   December     120     103.4